@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
.header__title{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;

}

.hero__section img{
    scale: 0.8;
    border-radius: 8px;
}
.hero__section article{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__section article p{
    width: 34%;
}
.header__second__title{
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    width: 100%;
    margin-bottom: 50px;

}
.hero__first__about{

}
.hero__second__about{
    flex-direction: row-reverse;
}
.hero__third__about{

}
.hero__fourth__about{
    flex-direction: row-reverse;

}
