{% extends 'base/base.html' %}
{% load static %}
{% block title %}Cell Edit{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/base/centered-form.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/cells/cell-edit.css' %}">#}
    <h2 class="center__cell__title">Cell {{ cells.cell_name }} Edit</h2>
    <div class="centered__form">
         <form method="POST" action="{% url 'cell edit' pk=cells.pk%}">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="submit__button" type="submit">Edit</button>
        </form>
    </div>

{% endblock %}