{% extends 'base/base.html' %}
{% load static %}
{% block title %}Cell Delete{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/base/centered-form.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/cells/cell-edit.css' %}">#}
    <h2 class="center__cell__title">Cell {{ cells.cell_name }} Delete</h2>
    <div class="centered__form">

        <form class="delete__form" method="POST" action="{% url 'cell delete' pk=cells.pk %}">
            <p>Deleting {{ cells.cell_name }} will permanently remove it from the database!</p>
            <p>Are you sure?</p>
            {{ form.as_p }}
            {% csrf_token %}

            <button class="delete__button" type="submit">YES</button>
        </form>
    </div>

{% endblock %}