.cell__title{
    text-align: center;
    font-size: 36px;
    margin-top: 6px;
}

.cell__container{
    border: 1px solid black;
    display: inline-block;
    position: relative;
    font-size: 28px;
    padding: 30px;
    border-radius: 8px;
    margin: 4px 12px 4px 14px;
    width: 200px;
    left: 4%;
    text-align: center;
}



@media screen and (max-width: 400px) {
    .cell__container{
        width: 155px;
    }
}

.cells__button_edit{
    font-size: 18px;
    width: 100%;
    background-color: #3366CC;
    border-color: #3366CC;
    border-radius: 6px;
    color: white;
}

.cells__button_edit:hover{
    background-color: dodgerblue;

}
@media screen and (max-width: 280px) {
    .cell__container{
        width: 110px;
    }
    .cells__button_edit{
        font-size: 14px;
    }
}
.tittle__and__creation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}
.add__cell__anchor{
    font-size: 24px;
    background-color: #0d6efd;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 4px 8px;
    color: #fff;
}

.add__cell__anchor:hover{
    background-color: #0051ff;
    color: #fff;
}