.cell__title{
    text-align: center;
    font-size: 36px;
    margin-top: 6px;
}

.cell__container{
    border: 1px solid black;
    display: inline-block;
    font-size: 28px;
    padding: 30px;
    border-radius: 8px;
    margin: 4px 12px 4px 20px;
    width: 200px;
    text-align: center;

}

.cells__button_edit{
    font-size: 18px;
    width: 100%;
    background-color: #3366CC;
    border-color: #3366CC;
    border-radius: 6px;
    color: white;
}
.cells__button_edit:hover{
    background-color: dodgerblue;

}