
.topnav {
  overflow: hidden;
  background-color: #003399;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.user__name a{
  color: white;
}
.active {
  background-color: #0030ee;
  color: white;
}

.topnav .icon {
  display: none;
}


.topnav a:hover, .dropbtn {
  background-color: #3366CC;
  color: white;
}

@media screen and (max-width:600px){
  .topnav a{
    font-size: 15px;
  }
}